/*Estilos para la barra de navegación y el banner*/

.header
{
    width: 100%;
    min-height: 100vh;
    background-image: url(imagenes/140al100.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*Degradado de la imagen del header*/
.header::before
{
    content: '';
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(19, 22, 22, 0.3));
}

.logoNavbar
{
    width: 100%;
    padding: 0px 15px;
}

.cajalogo
{
    width: 200px; /*Se ajusta al tamaño del logo*/
    display: inline-block;
    /*visibility: hidden;*/
}

.logoBanner
{
    width: 70%;
    /*background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgb(82, 81, 81);*/
}

/*Color de fondo en barra de navegación*/
.barranav
{
    position: fixed;
    z-index: 20;
    width: 100%;
    background-color: rgba(2, 19, 46, 0.9);
}

.navg a
{
    color: rgb(239, 255, 255)!important;
    font-family: "Open Sans Condensed";
    font-size: 18px;
    padding: 5px;
    margin: 0 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.2s;
}

.navg a:hover
{
    background-color: rgba(255, 2, 2, 0.788);
}

.text-header
{
    min-height: 100vh;
    color: rgb(239, 255, 255);
    font-family: "Open Sans Condensed";
    
    font-size: 24px;
}

.eslogan
{
    padding: 0 5.5%;
    visibility: hidden;
}

/*Enlace de idioma*/
.idioma
{
    color: white;
    transition: all 0.2s;
}

.idioma:hover
{
    color: rgb(6, 10, 59);
    text-decoration: none;
}

/*Edición de items del dropdown por separado*/
.itemsDropdown
{
    font-family: "Open Sans Condensed";
    color: black;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}

.itemsDropdown:hover
{
    font-family: "Open Sans Condensed";
    color: rgb(194, 0, 0);
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    font-weight: bold;
}

.dropdown-menu a:hover
{
    background-color: rgba(91, 89, 233, 0);
}

.linkProductos
{
    color: rgb(251, 255, 21);
    transition: all 0.2s;
}

.linkProductos:hover
{
    color: rgb(14, 8, 75);
    text-decoration: none;
}

.linkCorreo
{
    color: rgb(14, 8, 75);
    transition: all 0.2s;
}

.linkCorreo:hover
{
    color: rgb(255, 13, 13);
    text-decoration: none;
}

/*-----------------------------------------------------------------------*/

/*Efecto scroll*/
html
{
    scroll-behavior: smooth;
}

.seccion1
{
    justify-content: center;
    font-family: "Century Gothic";
    text-align: center;
    padding: 0 8%;
    padding-top: 12%;
    color: rgb(6, 53, 59);
}

.seccion1 h1
{
    font-size: 40px;
    padding-top: 10%;
}

.seccion2
{
    justify-content: center;
    font-family: "Century Gothic";
    text-align: center;
    padding: 0 8%;
    padding-top: 6%;
    color: rgb(6, 53, 59);
}

.seccion2 h2, .seccion3 h2
{
    padding-top: 12%;
}

.anterior
{
    border-radius: 15px;
    width: 65%;
    min-width: 50px;
}

.seccion3
{
    justify-content: center;
    font-family: "Century Gothic";
    text-align: center;
    padding: 0 8%;
    padding-top: 12%;
    color: rgb(6, 53, 59);
}

.seccion4
{
    justify-content: center;
    font-family: "Century Gothic";
    text-align: center;
    padding: 0 8%;
    padding-top: 12%;
    color: rgb(6, 53, 59);
}

div div h1
{
    font-size: 60px;
}

.textoSeccion
{
    padding: 2% 16%;
}

/*Parallax de diferentes secciones*/
.mainSeccion1
{
    width: 100%;
    min-height: 100vh;
    background-image: url(imagenes/1821al100.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mainSeccion2
{
    width: 100%;
    min-height: 50vh;
    background-image: url(imagenes/azulMarinoal100.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mainSeccion3
{
    width: 100%;
    min-height: 70vh;
    background-image: url(imagenes/blancoal100.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.mainSeccion4
{
    width: 100%;
    min-height: 100vh;
    background-image: url(imagenes/azulMarinoal100.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.textoImagenes
{
    color: white;
}

.textoImagenes1
{
    color: rgb(6, 53, 59);
}

.fas1
{
    font-size: 150px;
}

.fas2
{
    font-size: 100px;
}

/*Colores por secciones*/
.color1
{
    background-color: rgb(248, 246, 246);
}

.color2
{
    background-color: rgb(245, 42, 69);
    color: white;
    padding-top: 11%;
}

.texto2
{
    background-color: rgba(245, 42, 69, 0.562);
    border-radius: 15px;
}

.color3
{
    background-color: rgb(251, 255, 21);
    color: rgb(6, 10, 59);
}

.color4
{
    padding-top: 1%;
    color: rgb(2, 19, 46);
}

.texto3
{
    background-color: rgba(6, 53, 59, 0.397);
    border-radius: 15px;
}

.redes
{
    font-size: 100px;
    transition: all 0.2s;
}

.texto3 a
{
    color: rgb(38, 40, 41);
    display: inline-block;
    padding: 0 10%;
}

.texto3 a:hover
{
    color: rgb(255, 255, 255);
}

.seccion4
{
    background-color: rgb(2, 19, 46);
    color: rgb(239, 255, 255);
    padding-top: 3%;
    padding-bottom: 1%;
    margin-bottom: 0;
}

/*----------------------------------------------------------------------------------------------------*/
/*Edición de la página "Productos"*/

.header2
{
    width: 100%;
    min-height: 100vh;
    background-image: url(imagenes/blancoal100.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.header3
{
    width: 100%;
    min-height: 100vh;
    background-image: url(imagenes/140al100.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.cajalogo2
{
    width: 200px; /*Se ajusta al tamaño del logo*/
    display: inline-block;
    /*visibility: hidden;*/
}

.galeria
{
    background-color: rgba(6, 53, 59, 0.397);
    padding: 1%;
    border-radius: 10px 10px 0 0;
}

.galeriaItem
{
    color: rgb(6, 10, 59);
    font-family: "Century Gothic";
}

.galeriaItem:hover
{
    color: white;
}

.galeria3
{
    background-color: rgba(167, 11, 11, 0.548);
    padding: 1%;
    border-radius: 10px 10px 0 0;
}

.galeriaItem3
{
    color: rgb(92, 3, 3);
    font-family: "Century Gothic";
}

.galeriaItem3:hover
{
    color: white;
}

.titulo
{
    color: rgb(6, 10, 59);
    font-family: "Century Gothic";
    text-align: center;
}

.mainContainer
{
    background-color: rgba(255, 255, 255, 0);
    margin: 2% 0;
}

.itemIMG
{
    width: 45%;
    margin: 0 2%;
    border-radius: 10px;
}

.medidas
{
    font-family: "Open Sans Condensed";
}

.medidasIndividuales
{
    font-family: "Open Sans Condensed";
    background-color: rgba(6, 53, 59, 0.397);
    display: inline-block;
    padding: 1%;
    width: 45%;
    position: absolute;
}

.especificaciones
{
    font-family: "Open Sans Condensed";
    background-color: rgba(6, 53, 59, 0.397);
    border-radius: 10px;
    margin: 2% 0;
}

.especificaciones p
{
    color: rgb(255, 255, 255);
}

.especificaciones p h2 .colores
{
    font-family: "Open Sans Condensed";
    color: white;
}

.colorAzul1
{
    color: rgb(4, 14, 150);
}

.colorAzul2
{
    color: rgb(71, 188, 218);
}

.colorRojo
{
    color: rgb(255, 13, 13);
}

.colorAmarillo
{
    color: rgb(255, 239, 8);
}

.colorVerde
{
    color: rgb(91, 207, 44);
}

.colorNegro
{
    color: black;
}

.colorGris
{
    color: grey;
}

.colorBlanco
{
    color: white;
}

/* Aquí comienzan los estilos de la ventana modal de correo */
.logoContacto
{
    width: 70%;
}

input, textarea
{
    width: 100%;
}

textarea
{
    min-height: 30px;
    max-height: 100px;
}

.modal-body, .boton
{
    font-family: "Century Gothic";
}

/*Link para llamar por teléfono*/

.btnllamar
{
    color: rgb(6, 10, 59);
}

.btnllamar:hover
{
    color: rgb(255, 13, 13);
    text-decoration: none;
}


/*

***logo que no aparezca al principio en navbar

***cambiar algunos fondos de la galería

 */